---
title: How can I get verified
---

# How can I get verified

Short answer: you can't.

## Why?

The verification symbol you might see is just a custom emoji everyone can use. If you want to get actually "verified" you can verify a website you own and people already trust.

## How do I verify my website then?

Any link (including `<link>` tags) that have the `rel="me"` attribute and link back to your profile are considered as a proof and should turn green once you link it back in your profile fields as well.
