---
title: How can I get verified
---

# How can I get verified

Short answer: you can't.

## Why?

The verification symbol you might see is just a custom emoji everyone can use. If you want to get actually "verified" you can verify a website you own and people already trust.

## How do I verify my website then?

Any link (including `<link>` tags) that have the `rel="me"` attribute and link back to your profile are considered as a proof and should turn green once you link it back in your profile fields as well.

## I can't verify my Keybase account anymore, but everyone else can

We offered Keybase verifications as one as the first instances, but quickly disabled the feature (it can be enabled if you host your own instance) after we found out that Zoom bought Keybase and development stalled. For the safety of our users we disabled that feature on our instance. If you want to store your PGP keys somewhere, do it locally and on an encrypted disk.