.book-brand{
    img {
        height: 3em;
        width: auto;
    }
    @media (max-width:800px) {
        margin-left: -32px;
    }
    a span {
        display: none;
    }
}

figcaption {
    margin-top: -20px;
    font-size: 8pt;
}

#right {
    float: right;
    width: 300px;
    padding: 10px;
}

.social {
    right: 0px;
    top: -9px;
    font-size: 24pt;
    padding: 20px;
    position: absolute;
    opacity: .5;
    transition: 0.3s;
    z-index: 1;
}

.social:hover {
    opacity: 1;
}

* {
    outline: 0 !important;
}